<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/js/instafeed.min.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <div class="container">
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <section class="sidebar">
        <header>
          <img src="http://www.gravatar.com/avatar/2c1b9e76ded03f397d74f0cfa8bc5f07?s=200" />
        </header>

        <section class="social-links">
          <ul>
            <li class="github">
              <a href="https://github.com/knt" alt="github">Github</a>
            </li>
            <li class="twitter">
              <a href="https://twitter.com/kntreadway" alt="twitter">Twitter</a>
            </li>
            <li class="instagram">
              <a href="http://instagram.com/kntreadway" alt="instagram">Instagram</a>
            </li>
<!--             <li class="linkedin">
              <a href="https://linkedin.com/in/kntreadway" alt="LinkedIn">LinkedIn</a>
            </li> -->
            <li class="goodreads">
              <a href="https://www.goodreads.com/user/show/2305920-nichole" alt="Goodreads">Goodreads</a>
            </li>
          </ul>
        </section>

        <p>kntreadway (at) gmail.com</p>

        <section class="page-links">
          <ul>
            <li>
              <a href="/">About<a/>
            </li>
            <li>
              <a href="/posts">Posts</a>
            </li>
          </ul>
        </section>
      </section>

      <section class="content">
        {{ content }}
      </section>

      {% include scripts.html %}
      {% include googleanalytics.html %}
    </div>
  </body>
</html>
