---
layout: default
---

<h1>Hi! I'm Nichole</h1>
<section class="home">
  <p>
    I am a Software Engineer on the iOS team at <a href="http://www.goodreads.com">Goodreads</a> in San Francisco, CA, building our <a href="https://itunes.apple.com/us/app/goodreads-book-recommendations/id355833469?mt=8">official Goodreads app</a>. Before that, I worked on the core website team, building apps in Ruby on Rails that help people share what they're reading and find their next favorite book.
  </p>

  <p>
    Outside of programming, I love traveling, coffee and coffee shops, and my cat Theo...and of course I spend quite a bit ot time <a href="https://www.goodreads.com/user/show/41910901-nichole-treadway">reading.</a>
  </p>

  <p>
    I graduated from MIT with a Bachelor's degree in Computer Science (Course 6) in 2010. In addition to the Rails stack, my past work has included Java, Hadoop and HBase, Python and Django.
  </p>
</section>

{% if site.posts.length > 0 %}
<section class="home posts">
  <h2>posts</h2>
  {% for post in site.posts %}
    <article><time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
  {% endfor %}
</section>
{% else %}
Nothing here yet.
{% endif %}

<section>
  <h2>latest from instagram</h2>
  {% include instafeed.html %}
</section>
