<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
    text-align: center;
  }

  .gr_grid_branding {
    display: none;
  }
  .gr_widget {
    /*text-align: center;*/
  }
  .gr_widget h2 {
    font-size: 1em;
  }
</style>

<div class="gr_widget" id="gr_grid_widget_1382860430">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <h2>
    <a href="https://www.goodreads.com/review/list/2305920-nichole?shelf=currently-reading&utm_medium=api&utm_source=grid_widget" style="text-decoration: none;">currently reading</a>
  </h2>
  
  <div class="gr_grid_container">
    <div class="gr_grid_book_container">
      <a href="https://www.goodreads.com/book/show/18710190-allegiant" title="Allegiant (Divergent, #3)">
        <img alt="Allegiant" border="0" src="https://d202m5krfqbpi5.cloudfront.net/books/1382454603m/18710190.jpg" />
      </a>
    </div>
    <br style="clear: both"/><br/>
    <a href="https://www.goodreads.com/user/show/2305920-nichole" class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both">Nichole's favorite books »</a>
    <noscript>
      <br/>Share <a href="/">book reviews</a> and ratings with Nichole, and even join a <a href="/group">book club</a> on Goodreads.
    </noscript>
  </div>
</div>
<script src="https://www.goodreads.com/review/grid_widget/2305920.currently%20reading?cover_size=medium&hide_link=&hide_title=&num_books=1&order=d&shelf=currently-reading&sort=date_added&widget_id=1382860430" type="text/javascript" charset="utf-8"></script>
